plugins {
  id 'nf-lakefs@0.3.0'
}


lakefs {
  apiUrl = System.getenv('LAKEFS_API_URL')
  accessKey = System.getenv('LAKEFS_ACCESS_KEY')
  secretKey = System.getenv('LAKEFS_SECRET_KEY')
  transferMode = 'signed_url'
  autoCreateBranch = true
  autoCreateBranchSource = 'main'
}

params.output_dir = "output"

process {
    publishDir = [
            tags: { task.properties.subMap(["accelerator", "architecture", "attempt", "clusterOptions", "containerOptions", "container", "cpus", "debug", "disk", "diskResource", "errorCount", "errorStrategy", "machineType", "resourceLabels", "memory"]) },
        ]
}