plugins {
  id 'nf-lakefs@0.2.0'
}


lakefs {
  apiUrl = 'https://cytoreason.eu-west-1.lakefscloud.io/api/v1'
  accessKey = System.getenv('LAKEFS_ACCESS_KEY')
  secretKey = System.getenv('LAKEFS_SECRET_KEY')
  transferMode = 'signed_url'
}

params.output_dir = "lakefs://e2-demo-model/empty_nextflow_test"

//params.output_dir = "output"

process {
    publishDir = [
            tags: { task.properties.subMap(["accelerator", "architecture", "attempt", "clusterOptions", "containerOptions", "container", "cpus", "debug", "disk", "diskResource", "errorCount", "errorStrategy", "machineType", "resourceLabels", "memory"]) },
        ]
}